*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.contactHeader{
    padding: 50px 150px;
     background-image: url("../assets/image/backgroundimage.png");
    width: 100%;
    height: 1500px;
}

@media (max-width: 768px) {
  .contactHeader {
    padding: 5% 5%;
    height: 2200px; /* allow height to adapt */
  }

 
}


.contactNav{
    padding-top: 20px;
    
    background-color: #222222;
    
    width: 100%;
    height: 1400px;
    margin-top: 20px;
    color: white;
    


  
}


@media (max-width: 768px) {
     .contactNav{
    
    background-color: #222222;
   
    width: 450px;
    height: 2100px;
    margin-top: 50px;
    color: white;
 
  }

  

}


.nameeDiv{
    display: flex;
    margin-left: 60px;
    margin-top: 20px;

    h1{
        margin-left: 15px;
    }
}


.divMap{
    height: '500px';
    width: '100%';
} 

.footerDiv{
    float: left;
    
    max-width: 400px;
    
    margin-left: 30px;
}

.footerIcon{
    width: 100px;
    height: 40px;
    margin-right: 30px;
    margin-top: 20px;

    
}

.footerDivI{
    display: flex;
    margin-top: 80px;
}

.footerP{
    margin-top: 20px;
}

.footerDivv{
    float: left;
    margin-top: 70px;
    margin-left: 60px;

    hr{
        width: 260px;
    }
}

.footerInput{
    padding: 10px;
    width: 300px;
    background-color: #222222;
    border-style: dotted;
    color: white;
    margin-top: 30px;
}

.footerInputt{
     padding: 10px;
    width: 300px;
    background-color: #222222;
    border-style: dotted;
    color: white;
   
}

.btnFooter{
    padding: 15px;
    background-color: #222222;
    color: white;
    margin-top: 30px;
    border-color: #009BDB;
    border-radius: 30%;
}

.footerMessage{
     padding: 10px;
    width: 300px;
    margin-top: 60px;
    padding-bottom: 160px;
    background-color: #222222;
    border-style: dotted;
    color: white;
}
